.team-list {
	background-image: url('../img/bg/blue-pattern.jpg');
	padding: em(40) 0;
	@include desktop {
		padding: em(140) 0 em(70);
	}
	.container {
		@include desktop {
			overflow: hidden;
		}
		h3 {
			font-size: 60px;
			display: block;
			color: $cream;
			line-height: 1;
			font-family: $bold;
			padding-bottom: 20px;
			@include desktop {
				font-size: 110px;
			}
			span {
				font-size: 30px;
				display: block;
			}
		}
		.team-wrapper {
			.team-item {
				display: block;
				color: $cream;
				width: 90%;
				margin: 2% auto 3%;
				@include desktop {
					display: inline-block;
					vertical-align: top;
					width: 18%;
					margin:0 1% 2% 0;
				}
				img {
					width: 100%;
					height: auto;
				}
				.content-wrapper {
					h4 {
						a {
							font-family: $bold;
							color: $cream;
						}
					}
				}
				&.item__5 {
					@include desktop {
						margin-right: 0;
					}
				}
			}

			.read_more {
				text-align: center;
				font-family: $bold;
				margin: em(68) auto 0;
				@include desktop {
					margin: em(88) auto 0;
				}
				i{
					display: block;
					margin: em(20) auto;
					font-size: em(20);
				}
				a {
					color: $dblue;
					text-transform: uppercase;
				}
			}
			.bottom-ctas {
				text-align: center;
				ul{
					display: inline-block;
					padding: 0;
					max-width: em(482); 
					margin: em(10);
					text-align: center;
					@include desktop {
						margin: 0;
					}
					li {
						display: inline-block;
						width: 40%;
						@include desktop {
							width: inherit;
						}
						a { 
							display: block;
							padding: em(20);
							font-size: em(10);
							padding: em(16) em(5);
							font-family: $bold;
							text-align: center;
							text-transform: uppercase;
							@include desktop {
								padding: em(13) em(17);
								font-size: em(14);
							}
							&:hover {
								opacity: 0.5;
							}
						}
						&:first-child {
							a {
								background-color: $crygr;
								color: $dblue;
							}
						}
						&:last-child {
							margin-left: -6px;
							a {
								background-color: $dblue;
								color: $white;
							}
						}
					}
				}
			}
		}
	}
}