.bread-wrapper {
	background-color: $lgrey6;
	width: 100%;
	padding: em(10);
	@include desktop {
		padding: em(14);
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			font-family: $book;
			font-size: em(14);
			@include desktop {
				font-size: em(15);
			}
			.sep {
				display: inline-block;
				color: $dblue;
				margin: 0 em(10); 
			}
			a {
				color: $txtgrey;
			}
		}
	}
}