@font-face {
    font-family: 'InterFace DaMa Lt';
    src: url('../fonts/interface/InterFaceDaMaLt.woff2') format('woff2'),
        url('../fonts/interface/InterFaceDaMaLt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}