@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/gotham/Gotham-Light.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gotham/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book-Font';
    src: url('../fonts/gotham/Gotham-Book.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/gotham/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/gotham/Gotham-Black.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

