footer {
	background-color: $dblue;
	padding: em(30) 0;
	text-align: center;
	border-top: 1px solid $white;
	position: relative;
	@include desktop {
		padding: em(80) 0;
	}

	.footer-section {
		display: block;
		text-align: center;
		@include desktop {
			display: inline-block;
			text-align: left;
			vertical-align: top;
		}
		&.brand {
			@include desktop {
				width: 20%;
			}
			img {
				display: inline-block;
				max-width: 100%;
			}
		}
		&.sitemap {
			@include desktop {
				width: 58%;
			}
			ul#menu-footer-menu {
				list-style: none;
				padding: 0;
				text-align: center;
				@include mobile {
					padding-top: em(100);
				}
				> li {
					display: block;
					display: inline-block;
					vertical-align: top;
					width: 46%;
					text-align: left;
					@include desktop {
						width: inherit;
						margin-right: em(80);
						font-size: em(18);
					}
					a {
						padding: em(12) em(20);
						@include desktop {
							padding: 0;
						}
						background: transparent;
						color: $white;
						font-family: $bold;
					}
					ul {
						list-style: none;
						padding: 0;
						li {
							a {
								color: $white;
								font-family: $book;
								font-size: em(14);
							}
						}
					}
				}
			}
		}
		&.secondary-menu {
			.green-btn {
				@include green-btn;
				@include mobile {
					position: absolute;
					top: 124px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}