//media queries
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$sm-desktop-width}) {
    @content;
  }
}

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@mixin bdesktop {
  @media (min-width: #{$big-desktop-width}) {
    @content;
  }
}

@mixin headerTitle {
  font-family: $book;
  font-size: 24px;
  color: $dblue;
  border-left: 6px solid $crygr;
  display: block;
  padding: 0 0 0 15px;
  @include desktop {
    font-size: 34px;
    padding: 0 0 0 20px;
  }
}

@mixin bgcover{
  background-size: cover;
  background-position: center center;
}

@mixin bgparallax{
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
}

@mixin defdesktop {
  @media (max-width: #{$big-desktop-width}) { 
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}


@mixin smdesktop {
  @media (min-width: 1025px) and (max-width: 1380px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin iphoneV {
  @media (max-width: 323px) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin gradient-line ($bottom, $height) {
  &::after {
    content: "";
    width: 100%;
    height: $height;
    bottom: $bottom;
    left: 0;
    position: absolute;
    background-size: 100%;
    background-image: url('../img/patterns/bg_pattern.png');
  }
}

@mixin thePlaceholder ($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}


@mixin fa-icon($ico,$col,$siz) {
  font-size: $siz;
  color: $col;
  content: $ico;
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin overlay($color,$op){
  &::after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    opacity: $op;
    z-index: -1;
  }
}

@mixin centerer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centererX {
  left: 50%;
  transform: translateX(-50%);
}

@mixin centererY {
  top: 50%;
  transform: translateY(-50%);
}

@mixin afterTitle($color)  {
  &::after {
    content: "";
    display: block;
    width: 104px;
    height: 6px;
    background-color: $color;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -52px;
    @include desktop {
      left: 0;
      margin-left: 0;
    }
  }
}

@mixin green-btn {
  display: inline-block;
  color: $dblue;
  background-color: $crygr;
  font-family: $bold;
  font-size: em(14);
  text-align: center;
  padding: em(15) em(25);
}


body {
	font-family: $regular; 
  font-size: 16px;
  color: $txtgrey;
  a{
    transition: all 0.3s;
    &:hover{
      transition: all 0.3s;
      text-decoration: none;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  iframe {
    max-width: 100%;
  }

  p {
    font-family: $book;
  }

  //CTA STYLES
  .green-cta {
    display: block;
    position: relative;
    max-width: em(332);
    width: 100%;
    height: em(60);
    line-height: em(60);
    background-color: $crygr;
    color: $dblue;
    font-size: em(15);
    font-family: $bold;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: -9px;
      left: 9px;
      background-color: $dblue;
    }
  }

  //Modal sltyle
  .con-modal {
    display: none;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    .close-modal {
      position: fixed;
      top: 0;
      right: 0;
      width: em(40);
      height: em(36);
      text-align: center;
      background-color: $black;
      cursor: pointer;
      z-index: 9999;
      i {
        color: $white;
        line-height: em(36);
      }
    }
    .wrap-fix {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-x: auto;
      figure {
        position: absolute;
        padding: em(13);
        @include centerer;
        img {
          max-width: 100%;
        }
      }
    }
  }
}
