body {
	.navbar {
		&.main-navigation{
			background-color: transparent;
			border: none;
			margin: 0;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			.container-fluid {
				// Min Navigation styles
				#navbar {
					//left menu
					@include desktop {
						text-align: center;
						padding-top: em(20);
					}
					.menu-slide-links-menu-container {
						display: block;
						@include desktop {
							display: inline-block;
						}
						ul{
							padding: 0;
							li {
								display: block;
								@include desktop {
									display: inline-block;
								}
								a {
									display: block;
									padding: em(20);
									text-align: center;
								}
								&:first-child {
									a {
										background-color: $crygr;
										color: $dblue;
									}
								}
								&:last-child {
									margin-left: -6px;
									a {
										background-color: $dblue;
										color: $white;
									}
								}
							}
						}
					}
					// brand
					.navbar-brand {
						display: none;
						overflow: hidden;
						vertical-align: middle;
						background-image: url('../img/logos/logo.png');
						float: none;
						width: 235px;
						height: 61px;
						text-indent: -9999999px;
						@include desktop {
							display: inline-block;
							margin: 0 64px;
						}
						@mixin smdesktop {
							margin: 0 34px;	
						}

					}
				
					// main menu
					.menu-main-navigation-container {
						display: block;
						@include desktop {
							display: inline-block;
						}
						ul {
							&.nav{
								padding: 0;
								float: none;
								li {
									float: none;
									display: inline-block;
									a {
										color: $white;
										text-align: center;
										padding: 0 em(10);
										@include desktop {
											border-right: 1px solid $white;
										}
									}
									&:last-child {
										a {
											border-right: none;	
										}
									}
								}
							}
						}
					}
				}
			}
		}	
	}
}