//colors
$white: #ffffff;
$black: #000000;
$grey: #606060;
$dgrey: #333333;
$grey-1: #878686;
$grey-2: #434343;
$lgrey: #dfdfdf;
$lgrey2: #dfe3e9;
$lgrey3: #fafafa;
$lgrey4: #f1f1f1;
$lgrey5: #c9c9c9;
$lgrey6: #dedee4;
$txtgrey: #666666;
$red: #e10e20; 

//Brand colors
$salmon: #f53b48;
$purple: #35086e;
$dpurple: #453A94;
$marine: #00CDCD;
$marine-dk: #7dc5c7;
$cream: #F2F5D2;
$crygr: #D4D743;
$lblue: #48C6C8;
$dblue: #001440;
$pink: #E14FAD;
$yellow: #f9d423;
$b-grey: #333333;

//Opacaities
$opBlack: rgba(0,0,0,0.5);

//screens
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$sm-desktop-width: 1024px;
$big-desktop-width: 1481px;

//Fonts
$regular: 'Gotham Medium';
$bold: 'Gotham Bold';
$light: 'Gotham Light';
$book: 'Gotham Book';
$extra: 'Gotham Black';
