.work-content {
	padding: em(20) 0;
	@include desktop { 
		padding: em(40) 0;
	}
	.text-wrapper {
		h2 {
			@include headerTitle;
		}
		p {
			@include desktop { 
				padding: em(20) 0 0 em(28);
			}
		}
	}
	.work-thumb {
		figure {
			img {
				max-width: 100%;
				display: block;
				border-left: 3px solid $crygr;
			}
		}
	}
}