.story-home-block {
	display: block;
	background-color: $dblue;
	@include desktop {
		height: em(900);
		display: flex;
	}
	.side-story {
		position: relative;
		@include desktop {
			width: 50%;
			height: em(900);
		}
		&.video-wrapper {
			background-size: cover;
			background-color: $dblue;
			background-position: center center;
			height: em(350);
			transition: all 0.3s;
			@include desktop {
				height: em(900);
			}
			&:hover {
				opacity: 0.7;
			}
			a {
				&.play-icon {
					position: absolute;
					display: block;
					@include centerer;
					width: em(154);
					height: em(157);
					background-image: url('../img/icons/play-icon.png');
				}
			}
		}
		&.text-wrapper { 
			background-color: $white;
			padding: em(42);
			.text-content {
				width: 90%;
				max-width: em(438);
				@include desktop {
					position: absolute;
					@include centererY; 
				}
				h2 {
					line-height: 1;
					margin: 0;
					color: $dblue;
					font-size: em(20);
					font-family: $bold;
				}
				h3 {
					line-height: 1;
					color: $dblue;
					margin-top: 0;
					font-size: em(60);
					font-family: $bold;
					margin-bottom: 30px;
					@include desktop {
						font-size: em(80);
					}
				}
				p {
					font-family: $book;
					font-size: em(14);
				}
				.bottom-links {
					ul {
						padding: em(34) 0 0;
						li {
							display: block;
							@include desktop {
								display: inline-block;
							}
							a {
								font-family: $book;
								font-size: em(14);
								color: $txtgrey;
								padding: em(10);
								@include desktop {
									padding: 0 em(20);
									border-right: 1px solid $txtgrey;
								}
								&:hover {
									color: $marine;
									text-decoration: underline;
								}
							}
							&:first-child{
								a {
									@include desktop {
										padding-left: 0;
									}
								}
							}
							&:last-child{
								a {
									padding-right: 0;
									border-right: none;
								}
							}
						}
					}
				}
			}
		}	
	}
}